<!-- About image section -->
<section id="download" class="content-section text-center" data-ibg-bg="assets/static_pages_img/placeholder-bg.jpg">
    <div class="download-section">
            <div>
                <h2>About us</h2>
                <p>We are the greatest company every existed. Period.</p>
            </div>
    </div>
</section>

<section class="main">
<div class="container feature-container">
<div class="col-lg-push-6 col-md-6 col-sm-12 col-xs-12 text-center">
<%= image_tag 'about/howitwork-img1.png'%></div>
<div class="col-lg-pull-6 col-md-6 col-sm-12 col-xs-12">
<h1>How it works?</h1>
<div class="txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit aliquet felis, quis ultrices orci condiment. Suspendisse ut eleifend sem, nec iaculis nulla. </div>
<div class="getstarted"><a href="#">Why we do it.<i class="fa fa-long-arrow-right"></i></a></div>
</div>
</div>

<div class="container feature-container">
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
<%= image_tag 'about/devtime-img.png'%></div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
<h1>How we do it.</h1>
<div class="txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit aliquet felis, quis ultrices orci condiment. Suspendisse ut eleifend sem, nec iaculis nulla. </div>
<div class="getstarted"><a href="#">How we do it.<i class="fa fa-long-arrow-right"></i></a></div>
</div>
</div>

<div class="container feature-container">
<div class="col-lg-push-6 col-md-6 col-sm-12 col-xs-12 text-center">
<%= image_tag 'about/alldevices-img.png'%></div>
<div class="col-lg-pull-6 col-md-6 col-sm-12 col-xs-12">
<h1>Who we are.</h1>
<div class="txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit aliquet felis, quis ultrices orci condiment. Suspendisse ut eleifend sem, nec iaculis nulla. </div>
<div class="getstarted"><a href="#">Get Started Today! <i class="fa fa-long-arrow-right"></i></a></div>
</div>
</div>
</section>