<section class="banner">
    <div id="bannerSlider" class="carousel carousel-fade slide" data-ride="carousel">
        <!-- Indicators -->
        <div class="carousel-inner">
            <div class="item active" style="background-image:url(assets/global/carousel/banner1.jpg);">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="col-md-12">
                            <div class="content">
                                <div class="description"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item" style="background-image:url(assets/global/carousel/banner2.jpg);">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="col-md-12">
                            <div class="content">
                                <div class="description"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item" style="background-image:url(assets/global/carousel/banner3.jpg);">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="col-md-12">
                            <div class="content">
                                <div class="description"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a href=<%= reperen_path %> class="btn btn-normal page-scroll">
            <i class="fa fa-angle-double-left left animated"></i><i class="fa left-text">Reperen</i>
        </a>

        <a href=<%= products_path %> class="btn btn-normal page-scroll">
            <i class="fa right-text">Products</i><i class="fa fa-angle-double-right animated right"></i>
        </a>

        <ol class="carousel-indicators">
            <li data-target="#bannerSlider" data-slide-to="0" class="active"></li>
            <li data-target="#bannerSlider" data-slide-to="1"></li>
            <li data-target="#bannerSlider" data-slide-to="2"></li>
        </ol>
            
    </div><!-- /.carousel -->
</section>
