<div class="wrapper bg" data-ibg-bg=<%= image_path("index-bg.jpg")%>>
	<div class="main">
		<div class="header">
			<%= image_tag("iconlab-logo.png", id:"logo") %>

			<div class="menu">
				<%= link_to 'US', us_path, id:'us'%>
				<%= link_to 'Global', global_path, id:'global'%>
			</div>

		</div>
	</div>
</div>